/*
  8px = 0.5rem
  16px = 1rem (base)
  24px = 1.5rem
  32px = 2rem
  40px = 2.5rem
  48px = 3rem
  56px = 3.5rem
  64px = 4rem
  72px = 4.5rem
  80px = 5rem
*/

@font-face {
  font-family: "Untitled-Sans";
  src: url("/untitled-sans-test-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Untitled-Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Untitled-Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #333;
}

h1 {
  font-family: "Untitled-Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: #050505;
}

@media (max-width: 479px) { h1 { font-size: 32px; }}
@media (min-width: 480px) { h1 { font-size: calc(1.7777777777777777rem + ((1vw - 4.8px) * 1.3115)); }}
@media (min-width: 1701px) { h1 { font-size: 48px; }}




h2 {
  font-family: "Untitled-Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #050505;
}

@media (max-width: 479px) { h2 { font-size: 24px; }}
@media (min-width: 480px) { h2 { font-size: calc(1.5rem + ((1vw - 4.8px) * 0.6557)); }}
@media (min-width: 1701px) { h2 { font-size: 32px; }}

h3 {
  font-family: "Untitled-Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #050505;
}

@media (max-width: 479px) { h3 { font-size: 20px; }}
@media (min-width: 480px) { h3 { font-size: calc(1.1111111111111112rem + ((1vw - 4.8px) * 0.3279)); }}
@media (min-width: 1701px) { h3 { font-size: 24px; }}



a {
  font-family: "Untitled-Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

span {
  line-height: 1.6;
  pointer-events:none;
}

::-moz-selection { background: #EED056; }
::selection { background: #EED056; }

img {
  content-visibility: auto;
  max-width: 100%;
  height: auto;
}

/* CONTENT */


.home-about-link {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: black;
  z-index: 999;
}

.project-link {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: black;
  z-index: 999;
}

#home-hero {
  display: flex;
  height: 90vh;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
}

.home-intro {
  padding: 10vh 0;
}

@media (max-width: 479px) { .happy-days { font-size: 32px; }}
@media (min-width: 480px) { .happy-days { font-size: calc(1.7777777777777777rem + ((1vw - 4.8px) * 4.5902)); }}
@media (min-width: 1701px) { .happy-days { font-size: 88px; }}


#content-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.225rem;
}

#heading-wrapper {
  max-width: 80ch;
}

#heading-wrapper h2 {
  margin: 0;
}


#text-wrapper {
  max-width: 45ch;
}



#footer {
  padding: 3rem 0;
  background-color: #F6F7F9;
}
#footer p {
  margin: 0;
  margin-bottom: 1rem;
}

/* Projects Section Homepage */

.project-section {
  max-width: 1200px;
  padding: 0 1.225rem;
  margin: 0 auto;
  padding-bottom: 10vh;
}

  .cards {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards ul {
    margin-top: -16px;
  }
  
  .cards li {
    padding: 0;
    margin: 0;
  }
  
  .cards h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
  }

  .cards a {
    padding: 1.225rem;
    background-color:#F6F7F9;
    border: 1px solid #F6F7F9;
    border-radius: 8px;
    flex: 1 1 200px;
    min-width: 340px;
    margin: 0;
  }

  .cards a:hover {
    border: 1px solid #ededed;
  }
  
  .cards p {
    padding: 0;
    margin: 0;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    justify-content: center;
    align-items: center;
  }
  
  .flex li {
    flex: 1 1 200px;
    margin: 16px 16px;
  }

  .project-item {
    display: flex;
    align-items: center;
  }

  .project-logo {
    margin-right: 1.225rem;
  }


/* About page */

#about-left {
  position: relative;
  height: 50vh;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B6AC90;
}

#about-right {
  position: relative;
}

.about-list {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 1.225rem;
}

.about-item a {
  padding: 1.225rem;
  background-color: #F6F7F9;
  border: 1px solid #ededed;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 640px;
  transition: border ease-in-out 0.2s;
  border-radius: 4px;
  display: list-item;
}

.about-item h2 {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 4px;
}

.about-item p {
  margin: 0;
  padding: 0;
}

.about-item a:hover {
  border: 1px solid #B6AC90;
}

.about-hero-text {
  position: relative;
}


/* ABOUT Desktop Styles */

@media only screen and (min-width: 1200px) and (min-height: 800px) {
  #about-left {
    position: fixed;
    width: 50%;
    float: left;
    height: 100vh;
    font-size: 48px;
  }
  #about-right {
    position: fixed;
    width: 50%;
    float: right;
    height: 100vh;
    right: 0;
  }
  .about-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about-item {
    min-width: 500px;
  }
  .about-hero-text {
    position: fixed;
    z-index: 999;
  }
  .about-gallery {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    height: 100vh;
    z-index: 2;
  }
  .about-gallery-list {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 2;
    padding-bottom: 4rem;
  }
  .about-gallery-item {
    margin: 16rem 0;
    z-index: 2;
  }
  .about-image-left {
    display: flex;
  }
  
  .about-image-right {
    display: flex;
    justify-content: flex-end;
  }
}

.about-gallery {
  display: none;
}

@media only screen and (min-width: 1200px) and (min-height: 800px) {
  .about-gallery {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    height: 100vh;
    z-index: 1;
  }
  .about-gallery-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 1;
    max-width: 1000px;
  }
  .about-gallery-item {
    margin: 6rem 1.5rem 24rem 1.5rem;
    z-index: 1;
  }
  .about-gallery-item img {
    cursor: help;
  }
  .about-image-left {
    display: flex;
  }
  .about-image-right {
    display: flex;
    justify-content: flex-end;
  }

  .span-right {
    display: none;
    padding: 1.225rem;
    background: #BDB397;
    margin-left: 1rem;
    max-width: 25ch;
    height: 100%;
    border-radius: 4px;
    pointer-events:none;
  }
  .span-left {
    display: none;
    padding: 1.225rem;
    background: #BDB397;
    margin-right: 1rem;
    max-width: 25ch;
    border-radius: 4px;
    height: 100%;
    pointer-events:none;
  }
  .about-gallery-item img:hover + .span-right {
    display: block;
  }
  .about-gallery-item img:hover + .span-left {
    display: block;
  }
}

/* Project Page */

#project-hero {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}


.project-hero-text-wrapper{
  display: flex;
  height: 70vh;
  align-items: center;
}

.project-layout {
  padding: 0 24px;
}